/*CSS new password*/

.change-password{
    border: 2px solid gray;
    background-color: white;
    width: fit-content;
    padding: 50px;
    margin: 10% 10% 5% 29%;
    font-family: unset;
    font-size: 208%;
}

html{
    background-color: white;
}

.new-password{
    margin-right: 74%;
}

.confirm-password{
    margin-right: 67%;
}

.text-password{
    font-size: 100%;
    font-weight: 602;
}

.note-text{
    margin-right: -5%;
    text-align: left;
}

.reset{
    margin-right: 85%;
}

.form-ps{
    width: 100%;
}

.notice-message{
    color: red;
}

/*CSS forgot password*/
.forgot-password{
    padding: 20px;
    width: fit-content;
    border: 2px solid gray;
    margin: 12% 0 0 32%;
    font-family: sans-serif;
    font-size: 150%;

}

.email-password{
    padding: 26px 77px 15px 29px;
    width: fit-content;
    border: 2px solid gray;
    margin: 2% 0 0 32%;
    font-family: sans-serif;
    font-size: 150%;
}

.enter-email{
    display: block;
    width: 100%;
}

.title-text{
    font-size: 280%;
    font-family: sans-serif;
}

.step-reset{
    padding-right: 180px;
    position: relative;
    left: -3px;
}

.submit-password{
    margin-top: -1px;
    font-size: 100%;

}

.submit-password .get-password{
    background-color: #439A97;
    color: white;
    border-radius: 6px;
    padding: 5px 40px 6px 0;
    margin-left: 0px;
}

.submit-password .back-login{
    background-color: #DC0000;
    color: white;
    border-radius: 6px;
    padding: 5px 40px 6px 0;
}

.ps{
    position: relative;
    left: 20px;        
}

.lg{
    position: relative;
    left: 20px
}

/*CSS enter otp*/
.enter-otp{
    border: 2px solid black;
    background-color: #76b7e9;
    width: fit-content;
    position: relative;    
    top: 400px;
    left: 658px;
    margin-bottom: 550px;
}

.otp-text{
    text-align: center;
    color: red;
    font-size: 15px;
}

.image-reponse{
    position: relative;
    width: 200px;
    left: 100px;
    top: -420px;
}

.text{
    font-size: 200%;
    font-family: sans-serif;
    padding: 147px;
    margin-top: 127px;
}

.text-notice{
    text-align: center;
    color: greenyellow;
    margin-top: -345px;
    font-size: 200%;
    font-family: sans-serif;
}

.otp-value{
    text-align: center;
    font-size: 200%;
}

.reset-password{
    text-align: center;
    font-size: 200%;
}

